.more-screen {
    margin: 30px 20px 0 20px;
}

.user-text__title span {
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.user-text__title span span {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(241, 42, 42);
    border: 1px solid rgb(241, 42, 42);
    width: 13px;
    height: 13px;

    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    position: absolute;
    right: -20px;
    top: -5px;
}

.more-suggestions {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.more-suggestions__title {
    padding-top: 20px;
    font-weight: bold;
}

.more-suggestions__icons-list {
    display: flex;
}

.more-suggestions__icons-item {
    margin: 30px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    color: white;
    background-color: tomato;
    border-radius: 10px;
}

.more-suggestions__icons-item {
    cursor: pointer;
}

.more-suggestions__icons-item span {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}